<%- include('partials/header') -%>

<h1>Contatct</h1>
<h4>  <ul>
    <li>Name : Rahul Sharma</li>
    <li>Mobile no.: 8445469182</li>
    <li>Email add. : rahul.sharma2_cs18@gla.ac.in</li>
    </ul>
  </h4>

  <%- include('partials/footer') -%>
